{% extends 'base.html' %}
{% block body %}

   {% load static %}
  

<link rel="stylesheet" type="text/css" href="{% static 'css/menu1.css' %}">

<section class="about-area pt-60">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 mb-60">
                  <div class="section-title text-center">
                     <p></p>
                     <h4>Famous restaurants for good food</h4>
                  </div>
               </div>
            </div>
            <div class="row menu_style1">
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-4.jpg" alt="">
                     <div class="menu_content">
                     <a href="https://marrakech-riads.com/restaurant-dar-zellij/"> <h4>RESTAURANT DAR ZELLIJ </h4></a>  
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-6.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://marrakech-riads.com/restaurant-dar-zellij/"> <h4>RESTAURANT DAR ZELLIJ </h4></a>  
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://www.royalmansour.com/restauration/la-grande-table-marocaine/"> <h4>La Grande Table Marocaine </h4></a> 
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://www.comptoirmarrakech.com/"> <h4>Comptoir Darna </h4></a> 
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://www.tripadvisor.fr/Restaurant_Review-g293734-d8528564-Reviews-Shirvan-Marrakech_Marrakech_Safi.html"> <h4>Mes’Lalla </h4></a> 
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://sqala.ma/"> <h4>La Sqala </h4></a> 
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://mamounia.com/fr/les-restaurants/le-marocain.html"> <h4>Le Marocain </h4></a> 
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-2.jpg" alt="">
                     <div class="menu_content">
                        <a href="http://rickscafe.ma/"> <h4>Rick's Café </h4></a>
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-4.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://www.tripadvisor.fr/Restaurant_Review-g293734-d1523365-Reviews-La_Cour_des_Lions-Marrakech_Marrakech_Safi.html"> <h4>La cour des Lions
                        </h4></a>
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-4.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://www.azarmarrakech.com/"> <h4>Azar</h4></a>
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-3.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://www.bestrestaurantsmaroc.com/en/restaurant-maroc/gusto-e-sapore-restaurants-tanger-restaurants-maroc.html"> <h4>GUSTO E SAPORE</h4></a>
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single_menu_list">
                     <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-2.jpg" alt="">
                     <div class="menu_content">
                        <a href="https://www.tripadvisor.fr/Restaurant_Review-g293734-d12724844-Reviews-Al_Ain-Marrakech_Marrakech_Safi.html"> <h4>AL AÏN</h4></a>
                        <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row pb-60">
               <div class="col-xl-12 text-center">
                  <div class="box_btn">
                     <a href="#">load more</a>
                  </div>
               </div>
            </div>
         </div>
      </section>



{% endblock body %}